<!DOCTYPE html>
<html>
    <title>Home Page</title>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <header>
        <div>
            <div id="title">Byte-Sized Bites</div>
            <div id="account-info">
                <a id="login" href="login.html" style="margin-right:8px;">Login</a>
                <a id="register" href="register.html">Register</a>
            </div>
        </div>

        <div id="navlinks" class="block" style="margin-top:12px;">
            <a href="index.html">Home</a>
            <a href="recipes.html">Explore Recipes</a>
            <a href="my_cookbook.html">My Cookbook</a>
            <a href="recipe_form.html">Add a Recipe</a>
        </div>
    </header>
    <body>
        <div id="main_content" class="block">
            <h3 style="font-size: 30px;">Welcome, it's time to get cooking!🧑‍🍳👩‍🍳</h3>
            <div id="text_section">
                <p>The fun begins here!🌞 On Byte-Sized Bites, we provide a blogging platform for food enthusisasts to share and discover  
                    new recipes. You can create your own personalized account on the site where you'll be able to access features such as browsing  
                    other users' recipes, saving favorites to your personal cookbook, and sharing some of your own culinary creations.
                </p>
                <p>Whether you are a seasoned chef or just starting out in the kitchen, Byte-Sized Bites has something for everyone.
                </p>
                <p>The site has a wide range of recipes including simple lunches,snacks, show stopping dinner entrees, and chocolatey desserts.
                    Whatever mood you're in our recipe library is sure to have something to your taste.
                </p>
            </div>
        </div>

        <div id="footer" class="block">Website created by Csc 337 Group #27</div>
    </body>
        <script>
        </script>
</html>