<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Login</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header>
			<div>
				<div id="title">Byte-Sized Bites</div>
				<div id="account-info">
					<a id="login" href="login.html" style="margin-right: 8px"
						>Login</a
					>
					<a id="register" href="register.html">Register</a>
				</div>
			</div>

			<div id="navlinks" class="block" style="margin-top: 12px">
				<a href="index.html">Home</a>
				<a href="recipes.html">Explore Recipes</a>
				<a href="my_cookbook.html">My Cookbook</a>
				<a href="recipe_form.html">Add a Recipe</a>
			</div>
		</header>

		<div id="main_content" class="block">
			<div id="text_section">
				<form id="login-form">
					<label for="username">Username:</label><br />
					<input
						type="text"
						id="username"
						name="username"
						required
					/><br /><br />

					<label for="password">Password:</label><br />
					<input
						type="password"
						id="password"
						name="password"
						required
					/><br /><br />

					<button type="submit">Login</button>
				</form>
			</div>
		</div>

		<script>
			async function handleLogin(event) {
				event.preventDefault();

				const username = document.getElementById("username").value;
				const password = document.getElementById("password").value;

				const response = await fetch("/login", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({ username, password }),
				});

				if (response.ok) {
					const data = await response.json();
					const token = data.token;
					localStorage.setItem("authToken", token);
					localStorage.setItem("loggedInUser", username);
					window.location.href = "/";
				} else {
					alert(
						"Login failed. Please check your credentials and try again."
					);
				}
			}

			document
				.getElementById("login-form")
				.addEventListener("submit", handleLogin);
		</script>
	</body>
</html>
